<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Mytheresa Regression PW Suite" thread-count = "2" parallel = "tests" verbose="4">

	<listeners>
		<listener class-name="com.mytheresa.reports.ListenerClass"/>
	</listeners>

<!--	<test name="Mytheresa HomePage Test">
		<classes>
			<class name="com.mytheresa.tests.HomePageTest" />
		</classes>
	</test>-->
	
	<test name="Mytheresa LoginPage Test">
		<classes>
			<class name="com.mytheresa.tests.ProfilePageTest" />
		</classes>
	</test>


</suite>